JAVA_TOOL_OPTIONS = "-XX:ActiveProcessorCount=1 -XX:+UseG1GC -XX:InitiatingHeapOccupancyPercent=35 -XX:G1HeapRegionSize=2m -XX:MaxRAMPercentage=80.0 -XX:+ExitOnOutOfMemoryError -XX:MaxHeapFreeRatio=30 -XX:MinHeapFreeRatio=20 -XX:+UseCompactObjectHeaders -XX:+UnlockExperimentalVMOptions"

STREAMCONTEXT__STREAM_ID = "msql-test-stream"
STREAMCONTEXT__STREAM_KIND = "MicrosoftSqlServerSream"

ARCANE_FRAMEWORK__MICROSOFT_SQL_SERVER_CONNECTION_URI = 'jdbc:sqlserver://<sql_server_endpoint>:<port>;databaseName=<database>;user=<user>;password=<password>;encrypt=true;trustServerCertificate=true;packetSize=16368'

ARCANE_FRAMEWORK__S3_CATALOG_ENDPOINT = "https://example.s3.endpoint.com"
ARCANE_FRAMEWORK__S3_CATALOG_AUTH_CLIENT_URI = "https://example.auth.com/token"
ARCANE_FRAMEWORK__S3_CATALOG_ACCESS_KEY_ID = "X"
ARCANE_FRAMEWORK__S3_CATALOG_SECRET_ACCESS_KEY = "X"
ARCANE_FRAMEWORK__S3_CATALOG_AUTH_SCOPE = "openid profile X/.default"
ARCANE_FRAMEWORK__S3_CATALOG_REGION = "eu-central-1"
AWS_REGION = "eu-central-1"

ARCANE_FRAMEWORK__S3_CATALOG_AUTH_CLIENT_ID = "X"
ARCANE_FRAMEWORK__S3_CATALOG_AUTH_CLIENT_SECRET = "X"

ARCANE_FRAMEWORK__JDBC_MERGE_SERVICE_USER = "user"
ARCANE_FRAMEWORK__JDBC_MERGE_SERVICE_PASSWORD = "password"

STREAMCONTEXT__BACKFILL = "false"

# For up-to-date configuration refer to .helm/templates/crd-microsoft-sql-server-stream.yaml
STREAMCONTEXT__SPEC = '''
{
  "backfillJobTemplateRef": {
    "apiGroup": "streaming.sneaksanddata.com",
    "kind": "StreamingJobTemplate",
    "name": "<streaming_job_template_ref>"
  },
  "jobTemplateRef": {
    "apiGroup": "streaming.sneaksanddata.com",
    "kind": "StreamingJobTemplate",
    "name": "<streaming_job_template_ref>"
  },
  "observability": {
    "metricTags": {}
  },
  "sink": {
    "icebergCatalog": {
      "catalogProperties": {},
      "catalogUri": "https://example.catalog.com/catalog",
      "maxCatalogInstanceLifetime": "3500 second",
      "namespace": "example_namespace",
      "warehouse": "example-warehouse"
    },
    "maintenanceSettings": {
      "targetAnalyzeSettings": {
        "batchThreshold": 1800,
        "includedColumns": []
      },
      "targetOptimizeSettings": {
        "batchThreshold": 60,
        "fileSizeThreshold": "512MB"
      },
      "targetOrphanFilesExpirationSettings": {
        "batchThreshold": 60,
        "retentionThreshold": "6h"
      },
      "targetSnapshotExpirationSettings": {
        "batchThreshold": 60,
        "retentionThreshold": "6h"
      }
    },
    "mergeServiceClient": {
      "connectionUrl": "jdbc:trino://example.trino.endpoint.com",
      "credentialType": {
        "basic": {}
      },
      "extraConnectionParameters": {
        "SSL": "true",
        "clientTags": "tag1,tag2",
        "explicitPrepare": "false",
        "sessionProperties": "min_input_size_per_task:256MB;min_input_rows_per_task:100000"
      },
      "queryRetryBaseDuration": "100 millisecond",
      "queryRetryMaxAttempts": 3,
      "queryRetryMode": {
        "always": {}
      },
      "queryRetryOnMessageContents": [
        "Encountered too many errors talking to a worker node",
        "Failed to load view",
        "No worker nodes available",
        "splitsInfo already set to"
      ],
      "queryRetryScaleFactor": 0.1
    },
    "targetTableFullName": "lakehouse_test.example_schema.example_table",
    "targetTableProperties": {
      "format": "PARQUET",
      "parquetBloomFilterColumns": [],
      "sortedBy": []
    }
  },
  "source": {
    "buffering": {
      "enabled": false,
      "strategy": {}
    },
    "configuration": {
      "extraConnectionParameters": {},
      "fetchSize": 8,
      "schemaName": "dbo",
      "tableName": "bkpf"
    },
    "fieldSelectionRule": {
      "essentialFields": [],
      "isServerSide": true,
      "rule": {
        "all": {}
      }
    }
  },
  "staging": {
    "icebergCatalog": {
      "catalogProperties": {},
      "catalogUri": "https://example.catalog.com/catalog",
      "maxCatalogInstanceLifetime": "3500 second",
      "namespace": "sap_afs",
      "warehouse": "staging"
    },
    "table": {
      "isUnifiedSchema": true,
      "maxRowsPerFile": 10000,
      "stagingCatalogName": "example_catalog",
      "stagingSchemaName": "example_schema",
      "stagingTablePrefix": "example_table"
    }
  },
  "streamConfigurationSecretRef": {
    "name": "secret-ref"
  },
  "streamMode": {
    "backfill": {
      "backfillBehavior": "Overwrite",
      "backfillStartDate": "2026-01-01T00:00:00Z"
    },
    "changeCapture": {
      "changeCaptureInterval": "60 second",
      "changeCaptureJitterSeed": 1,
      "changeCaptureJitterVariance": 0.15
    }
  },
  "suspended": false,
  "throughput": {
    "advisedBurst": 10000,
    "advisedChunkSize": 10000,
    "advisedRate": "1 per 15 second",
    "shaperImpl": {
      "memoryBound": {
        "chunkCostMax": 10,
        "chunkCostScale": 1,
        "fallbackStringTypeSizeEstimate": 50,
        "objectTypeSizeEstimate": 4096,
        "tableRowCountWeight": 0.02,
        "tableSizeScaleFactor": 2,
        "tableSizeWeight": 0.02
      }
    }
  }
}
'''
