<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>tmp/synapse-link.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>
                {
                "service":"arcane-stream-runner",
                "ddsource":"java",
                "host":"${HOSTNAME}"
                }
            </customFields>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>
