<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>%d [%thread] %-5level  %logger{35} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="JSON_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${ARCANE_DATADOG_ENDPOINT}</destination>
        <keepAliveDuration>20 seconds</keepAliveDuration>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <prefix class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>${DD_API_KEY} %mdc{keyThatDoesNotExist}</pattern>
                </layout>
            </prefix>
        </encoder>
        <ssl />
    </appender>

    <root level="DEBUG">
        <appender-ref ref="JSON_TCP" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
